* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  overflow: hidden;
  color: white;
}

/* BACKGROUND */
.background-container {
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
z-index: -10;
}

#heading-title{
    font-style: italic;
    margin-top: 5rem;
    font-weight: 500;
}

.bg-media {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 100%;
  height: 100%;

  object-fit: cover;

  transform: translate(-50%, -50%);
}

.hide-media{
opacity: 0;
}

.fade-overlay{
  position: absolute;
  width:100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  transition: 0.5s;
}

.fade-overlay.black {
  background: rgba(0,0,0,1);
}

/* TAGLINE */
.search-tagline{
  text-align: center;
  margin-top: 30px;
  font-size: 1.8rem;
  opacity: 0.8;
}

/* APP */
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.glass-panel {
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(20px);
  padding: 30px;
  border-radius: 20px;
  width: 350px;
}


.search {
  display: flex;
  gap: 10px;
}

.search input {
  flex: 1;
  padding: 10px;
  border-radius: 20px;
  border: none;
  outline: none;
}

.search button {
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}


.weather {
  margin-top: 20px;
  text-align: center;
}

.weather img {
  width: 60px;
}

.desc-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.details {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}


.loader {
  text-align: center;
  margin-top: 20px;
}

.hide{
  display: none;
}

.spinner{
  border: 4px solid #ccc;
  border-top: 4px solid white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: auto;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% { transform: rotate(360deg); }
}